/*font-family: 'Hanken Grotesk', sans-serif;*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  font-family: 'Hanken Grotesk', sans-serif;
  font-style: normal;
  min-width: 375px;
}
.card{
  width: 100%;
}
.card-blue{
  height: 356px;
  border-radius: 0 0 30px 30px;
  background: linear-gradient(180deg, #6844FF 0%, #2922E2 100%);
  border: 1px solid #654BD3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 60px;
}
.title-1-2{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.04em;
  color: #A4A1ED;
}
.puntaje{
  background: linear-gradient(180deg, #4D22C9 0%, #4734F0 100%);
  border-radius: 100%;
  width: 140px;
  height: 140px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.puntaje_parte{
  font-weight: 800;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  color: #FDFCFD;
}
.parrafo-2{
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #A4A1ED;
}
.card-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-2-2{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.card_sumary{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.summary{
  color: black;
  margin-bottom: 10px;
}
.card_sumary_part{
  height: 56px;
  border-radius: 10px;
  margin: 16px 0 16px 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary-part-description{
  display: flex;
  flex-direction: row;
}
.summary-part-description span{
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 14px;
}
.reaction{
  background: #FFF6F5;
}
.reaction span{
  background-image: url(/1_results-summary-component-main/assets/images/icon-reaction.svg);
}
.reaction_text{
  color: #FF5555;
}
.memory{
  background: #FFFBF2;
}
.memory span{
  background-image: url(/1_results-summary-component-main/assets/images/icon-memory.svg);
}
.memory_text{
  color: #FFB21E;
}
.verbal{
  background: #F2FBFA;
}
.verbal span{
  background-image: url(/1_results-summary-component-main/assets/images/icon-verbal.svg);
}
.verbal_text{
  color: #00BB8F;
}
.visual{
  background: #F3F3FD;
}
.visual span{
  background-image: url(/1_results-summary-component-main/assets/images/icon-visual.svg);
}
.visual_text{
  color: #1125D6;
}
.numeros_2{
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: right;
  letter-spacing: 0.03em;
  color: #000000;
}
.button{
  height: 56px;
  border-radius: 26px;
  background-color: #303B59;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #F9F5FF;
  border: none;
  cursor: pointer;
}
.button:hover{
  background: #4B38F4;
  border: 1px solid #6248D0;
}
.attribution {
  font-size: 11px; 
  text-align: center; 
  margin: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}
